{% extends 'secuityapp/Layoutmaster.html' %}
{% block middle %}
<section class="contact_section layout_padding">
    <div class="contact_bg_box">
      <div class="img-box">
        <img src="images/contact-bg.jpg" alt="">
      </div>
    </div>
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
         New Guard Signup here
        </h2>
      </div>
      <div class="">
        <div class="row">
          <div class="col-md-7 mx-auto">
            <form action="" method="post">
                {% csrf_token %}
              <div class="contact_form-container">
                <div>
                    <div>
                        <input type="email" placeholder="Email " name="email" value="{{username}}" />
                      </div>
                      <div>
                        <input type="password" placeholder="Password" name="password" value="{{pass}}" />
                      </div>
                  <div>
                    <input type="checkbox" name="chk" value="remember me" {% if username %} checked {% endif %} />Remember me
                  </div>
                  <div class="btn-box ">
                  
                    <button type="submit">
                    Login
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

 
  {% endblock %}