{% extends 'secuityapp/Layoutmaster.html' %}
{% block middle %}
<script>
  function validate()
  {
    var email = document.getElementById("email").value;
    var atpos = email.indexOf("@");
    var dotpos = email.lastIndexOf(".");
    var password = document.getElementById("password").value;
    var fullname = document.getElementById("fname").value;
    var mobile = document.getElementById("mobile").value;
    var address = document.getElementById("address").value;
    if(atpos==-1 || dotpos==-1 || atpos>dotpos || (dotpos-atpos)<3 || dotpos+1==email.length)
    {
      alert('Invalid email id');
      return false;
    }
    else if(password.length<6)
    {
        alert('Password Length Should be above six');
        return false;
    }
    else if(fullname.length<8)
    {
      alert('fullname should be above 8 char');
      return false;
    }

    else if(isNaN(mobile))
    {
       alert('mobile number should be numeric');
       return false;
    }
    else if(mobile.length!=10)
    {
      alert('mobile number should be 10 digits');
      return false;
    }
    else if(address.length<10)
    {
      alert('address should be above 10 character');
      return false;
    }
  }

  function checkemail(data){
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange=function(){
       document.getElementById("spemail").innerHTML=xmlhttp.responseText
    }
    xmlhttp.open("GET","checkemailfun?q="+data,true);
    xmlhttp.send();
  }
</script>
<section class="contact_section layout_padding">
    <div class="contact_bg_box">
      <div class="img-box">
        <img src="images/contact-bg.jpg" alt="">
      </div>
    </div>
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
         New Guard Signup here
        </h2>
      </div>
      <div class="">
        <div class="row">
          <div class="col-md-7 mx-auto">
            <form action="" method="post">
                {% csrf_token %}
              <div class="contact_form-container">
                <div>
                    <div>
                        <input type="email" placeholder="Email " name="email" id="email" onblur="checkemail(this.value)" />
                        <span id="spemail"></span>
                      </div>
                      <div>
                        <input type="password" placeholder="Password" name="password" id="password" />
                      </div>
                  <div>
                    <input type="text" placeholder="Full Name" name="fname" id="fname"/>
                  </div>
                
                  <div>
                    <input type="text" placeholder="Phone Number" name="mobile" id="mobile" />
                  </div>
                  <div class="">
                    <input type="text" placeholder="Address" class="message_input" name="address" id="address" />
                  </div>
                  <div class="btn-box ">
                    <button type="submit" onclick="return validate()">
                      Register
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

 
  {% endblock %}