<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%  for k,v in res.items %}
    {% if v == '.pdf' or v == ".txt" %}
            <a href="/media/{{k.filepath}}"><img src="/media/pdf.png" height="100" width="100"/></a>
    {% elif v == '.mp3' or v == ".mp4" or v == ".mkv"  %}
                 
           <video width="400" height="400" controls>
            <source src="/media/{{k.filepath}}" type="video/mp4">
           </video>
    {% else %}
      <img src="/media/{{k.filepath}}" height="100" width="100" />
    {% endif %}
    {% endfor %}
</body>
</html>